streamlit~=1.50.0
langchain~=0.3.27
langchain-google-genai~=2.1.12
langchain-community~=0.3.31
langchain-groq
sentence-transformers
faiss-cpu
pypdf
python-docx
docx2txt
pandas~=2.3.3
openpyxl
gitdb~=4.0.12
langchain-core~=0.3.79
dotenv~=0.9.9
python-dotenv~=1.1.1
groq~=0.32.0